* 
{
	font-family: Ink Free;
}

.choix
{
	font-size: 12pt;
	margin: 2.5pt;
	border-radius: 60px;
}

#retour
{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5pt;
	
}


.bouton
{
	float:center;
	border-radius: 60px;
	background-color:darkgrey;
	font-size: 11pt;
	margin: 2.5pt;
}
.bouton:hover,
.accent:hover,
.choix:hover
{
	border-left-color: royalblue;
	border-left-width: 1.5pt;
	border-right-color: royalblue;
	border-right-width: 1.5pt;
	border-top-color: royalblue;
	border-top-width: 1.5pt;
	border-bottom-color: royalblue;
	border-bottom-width: 1.5pt;
	font-size: 13pt;
}

#faux
{
	color: 	#DC143C;
}

#juste
{
	color: #1DC16A;
}

.accent
{
	background-color:darkgrey;
	border-radius: 8px;
	font-size: 11pt;
	margin: 2.5pt;
}

#bouton-mode-sombre
{
	float: right;
	border-radius: 60px;
	font-size: 25pt;
}

#entree {
	background-color: grey;
	color : black;
	font-family: Fixedsys;
	font-size:14pt;
	border-radius: 40px;
}

#entree.dark-mode {
	background-color: grey;
	color : white;
	font-family: Fixedsys;
	font-size:14pt;
	border-radius: 40px;
}

#name {
	color : black;
}

#name.dark-mode {
	color : white;
}

#chrono {
	color : black;
}

#chrono.dark-mode {
	color : white;
}

#null {
	color : black;
}

#null.dark-mode {
	color : white;
}

#bouton-mode-sombre {
	background-image: url("img/moon.png");
	border-radius: 60px;
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
	object-fit: contain;
}
  
#bouton-mode-sombre.dark-mode {
	background-image: url("img/sun.png");
	border-radius: 60px;
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
	object-fit: contain;
}

select{
	font-size: 12pt;
	margin: 2.5pt;
	border-radius: 60px;
}