@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--raisin-black: #211c1cff;
	--celestial-blue: #44a4e3ff;
	--mint: #09bc8aff;
	--yellow: #fffc31ff;
	--ivory: #f6f7ebff;
}

#retour
{
	float: left;
}


.bouton
{
	float:center;
	border-radius: 60px;
	font-size: 11pt;
	margin: 2.5pt;
}
.bouton:hover
{
	border-left-color: royalblue;
	border-left-width: 1.5pt;
	border-right-color: royalblue;
	border-right-width: 1.5pt;
	border-top-color: royalblue;
	border-top-width: 1.5pt;
	border-bottom-color: royalblue;
	border-bottom-width: 1.5pt;
	font-size: 13pt;
	background-color: royalblue;
}


#name {
	background-color: var(--celestial-blue);
	color : var(--yellow);
	border-radius: 60px;
	min-height: 80vh;
	text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center; 
	font-family: "Montserrat", sans-serif;
  	font-optical-sizing: auto;
}

#name.dark-mode {
	color : var(--mint);
	background-color: var(--raisin-black);
}

#chrono {
	color : var(--yellow);
}

#chrono.dark-mode {
	color : var(--mint);
}

#bouton-mode-sombre {
	background-image: url("img/moon.png");
	border-radius: 60px;
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
	object-fit: contain;
}
  
#bouton-mode-sombre.dark-mode {
	background-image: url("img/sun.png");
	border-radius: 60px;
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
	object-fit: contain;
}
