@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--rich-black: #001514ff;
	--ivory: #f6f7ebff;
	--folly: #ff1053ff;
	--ultra-violet: #6c6ea0ff;
	--persian-green: #1ea896ff;
}

#retour
{
	float: left;
}


.bouton
{
	float:center;
	border-radius: 60px;
	font-size: 11pt;
	margin: 2.5pt;
}
.bouton:hover
{
	border-left-color: royalblue;
	border-left-width: 1.5pt;
	border-right-color: royalblue;
	border-right-width: 1.5pt;
	border-top-color: royalblue;
	border-top-width: 1.5pt;
	border-bottom-color: royalblue;
	border-bottom-width: 1.5pt;
	font-size: 13pt;
}

#compteur{
	color : var(--persian-green);
	font-family: "Montserrat", sans-serif;
	font-size: 10pt;
}

#compteur.dark-mode{
	color: var(--ultra-violet);
}

#passer {
	position: relative;
	background-color: var(--ivory);
	color: var(--persian-green);
	min-height: 80vh;
	text-align: center;
	display: flex; 
	align-items: center;
	justify-content: center; 
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	min-width: 40%;
	padding: 20px;
	margin: auto;
	white-space: normal;
	text-overflow: ellipsis;
}

#passer.dark-mode {
	color : var(--ultra-violet);
	background-color: var(--rich-black);
}

#chrono, #mot {
	color : var(--persian-green);
}

#chrono.dark-mode, #mot.dark-mode {
	color : var(--ultra-violet);
}

#passer{
	background-color: #002927;
}

#passer.dark-mode{
	background-color: var(--ivory);
}

#bouton-mode-sombre {
	background-image: url("img/moon.png");
	border-radius: 60px;
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
	object-fit: contain;
}
  
#bouton-mode-sombre.dark-mode {
	background-image: url("img/sun.png");
	border-radius: 60px;
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 25px;
	object-fit: contain;
}

.boutons {
    display: flex;
    justify-content: space-between;
}